{:paths ["src" "resources"]
 :deps {com.kirahowe/clj-llm {:local/root "../.."}
        ring/ring-jetty-adapter {:mvn/version "1.12.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "example.prompt-server-test"]}}}
